/* цвет основного текста #212121;
дополн.цвет текста #757575;
цвет акцент #2196F3;
при наведении #FFFFFF; */

/* nav background: #ffffff;
hero background: #C4C4C4;
advant background: #e5e5e5;
services background: #e5e5e5;
team background: #f5f4fa;
footer background: #2F303A; */

/*  logo-font: Raleway 700;
    main-title-font: Roboto 700, 900;
    main-paragraph-font: Roboto 400, 500;
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title: #000000;
  --primary-white-color: #ffffff;
  --hero-background: #c4c4c4;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
}

/* ! ========================= Logo ========================= */

/* ! ========================= Site Nav ========================= */

/* ! ========================= Hero ========================= */

/* ! ========================= Features ========================= */

/* ! ========================= SERVICES ========================= */

/* ! ========================= TEAM ========================= */

/* ! ========================= CLIENTS ========================= */

/* ! ========================= Footer ========================= */

/* ! ================= Work Samples ===================== */

/* ! ===================== BACKDROP  ===================== */

/* ! ===================== OVERLAY ===================== */

/* ! =================== MODAL FORM ========================== */
