.section .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .features-item {
    max-width: 450px;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 120px;
      background-color: $team-background;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: center;
    }

    &-antenna::before {
      background-image: url(../img/svg/antenna.svg);
    }
    &-clock::before {
      background-image: url(../img/svg/clock.svg);
    }
    &-diagram::before {
      background-image: url(../img/svg/diagram.svg);
    }
    &-astronaut::before {
      background-image: url(../img/svg/astronaut.svg);
    }
  }

  .section .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 10px;
  }

  .features .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
    margin-bottom: 0;

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  .section .title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
