.header-line {
  display: block;
  // justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.logo.link {
  width: 134px;
  height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-Web,
.logo-Studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo-Web {
  color: $accent-color;
}
.logo-Studio {
  color: $hero-title;
}

.site-nav .current {
  color: $accent-color;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-color;
}

.current {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    margin-top: 28px;

    align-items: baseline;
  }
}

.list .mail,
.list .tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .mail:hover,
.list .mail:focus,
.list .tel:hover,
.list .tel:focus {
  color: $accent-color;
}

.contact-item-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-link:hover &,
  .contact-link:focus & {
    fill: $accent-color;
  }
}

.header-contact-item {
  fill: $primary-text-color;
}

.contact-item-envelope {
  margin-bottom: 16px;
}

// ! ------------------------------------------------------- MOBILE - 320-480px

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .menu-button {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-button:hover .icon-menu,
  .menu-button:focus .icon-menu,
  .menu-button:hover .icon-cross,
  .menu-button:focus .icon-cross {
    outline: none;
    outline-color: none;
    fill: #2196f3;
    cursor: pointer;
  }

  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }

  .menu-container {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    min-height: 393px;
    width: 100%;
    background: $primary-white-color;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    z-index: 10;

    &.is-open {
      display: block;
    }
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
  }

  .site-nav {
    margin: 0 auto;
  }

  .site-nav .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .header-contact-list {
    background-color: $primary-white-color;
    margin-top: 60px;
  }
  .mail {
    width: 100%;
    margin: 0 auto;
  }
  .contact-item-phone {
    width: 100%;
    margin: 0 auto;
  }

  .envelope-svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .phone-svg {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
}

// ! ------------------------------------------------------- TABLET - 768px

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header .container {
    display: flex;
  }

  .logo.link {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .site-nav {
    display: flex;
    margin-top: 32px;
    margin-left: 88px;
    margin-right: 82px;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .menu-container {
    display: flex;
  }

  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }

  .current {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: center;

      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      margin-top: 28px;

      align-items: baseline;
    }
  }

  .envelope-svg {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }

  .phone-svg {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }

  .list .mail,
  .list .tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item-envelope {
    margin-top: 21px;
    margin-bottom: 10px;
  }
}

// ! ------------------------------------------------------- DESKTOP - 1200px

@media screen and (min-width: 1200px) {
  .logo-Web,
  .logo-Studio {
    font-size: 26px;
    line-height: 1.192;
  }

  .logo.link {
    width: 145px;
    height: 31px;
    margin-top: 24px;
    margin-bottom: 25px;
    // margin-right: 93px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav {
    // display: flex;
    // margin-top: 32px;
    margin-left: 93px;
    margin-right: 82px;
  }

  .navigation-list-item:not(:last-child) {
    // margin-right: 50px;
    // margin-top: 32px;
    margin-bottom: 32px;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }

  .list .link,
  .list .mail,
  .list .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contact-item .mail {
    margin-right: 30px;
  }
  .mail {
    width: 161px;
  }
  .contact-item-phone {
    width: 142px;
  }

  .mail,
  .tel {
    display: flex;
    align-items: center;
  }

  .header-contact-list {
    display: flex;
    align-items: center;
  }

  .contact-item-envelope {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ! ------------------------ END of DESKTOP - 1200px
