$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-title: #000000;
$primary-white-color: #ffffff;
$hero-background: #c4c4c4;
$team-background: #f5f4fa;
$footer-background: #2f303a;
